<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/signup.css">
</head>
<body>
    <div class="container-sm-12 p-3 main">
        <div class="col-sm-6 p-3 sub1">
            <img src="https://images.unsplash.com/photo-1581054311740-5eb4ff39900d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fHdpZGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" width="100%" height="100%">
        </div>
        <div class="col-sm-6 p-3 sub2">
            <h1>ADMIN SIGNUP</h1>
            <form id="formSignup" action="/AdminsignupValidate" method="POST">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input type="text" class="form-control" id="Name">
                    <p id="NameErr"></p>
                </div>
                <!-- <div class="form-group">
                    <label for="RollNo">Roll Number:</label>
                    <input type="text" class="form-control" id="RollNo">
                    <p id="RollNoErr"></p>
                </div> -->
                <div class="form-group">
                    <label for="Email">Email Id:</label>
                    <input type="text" class="form-control" id="Email">
                    <p id="EmailErr"></p>
                </div>
                <div class="form-group">
                    <label for="Pwd">Password:</label>
                    <input type="password" class="form-control" id="Pwd">
                    <p id="PwdErr"></p>
                </div>
                <div class="form-group">
                    <label for="CPwd">Confirm Password:</label>
                    <input type="password" class="form-control" id="CPwd">
                    <p id="CPwdErr"></p>
                </div>
                <div class="form-group">
                    <label for="Gender">Gender:</label><br>
                    <input type="radio" class="radio-inline gen" name="gen" value="Male"> Male 
                    <input type="radio" class="radio-inline gen" value="Female" name="gen"> Female 
                    <input type="radio" class="radio-inline gen" value="Other" name="gen"> Other 
                    <p id="GenErr"></p>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success" value="Submit" onclick="Validate()">
                    <input type="reset" class="btn btn-secondary" value="Clear">
                </div><br>
                <div class="link1">
                    <label class="form-check-label" for="exampleCheck1">Not a user? <a href="Admin_Login.html" class="link">Login</a></label>
                  </div><br>
            </form>
        </div>
    </div>
    <script src="../public/js/signupscript.js">
    </script>
</body>
</html>