<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/signupstyle.css">
</head>
<body>
    <div class="container">
        <div class="sub1">
            <img id="i1" src="https://images.unsplash.com/photo-1607636782046-96c85545bb4a?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="sub2">
            <center><h1>STUDENT SIGN-UP</h1></center>
            <form id="sform" action="/signupValidate">
                <div><input type="text" id="name" placeholder="Name"></div><br>
                <div><input type="number" id="rno" placeholder="Roll Number"></div><br>
                <div><input type="email" id="email" placeholder="Email"></div><br>
                <div><input type="password" id="pwd" placeholder="Password"></div><br>
                <div><input type="password" id="cpwd" placeholder="Confirm Password"></div><br>
                <div>Gender : <input type="radio" name="gender" value="Male">Male 
                    <input type="radio" name="gender" value="Female">Female 
                    <input type="radio" name="gender" value="Other">Other 
                </div><br>
                <div>
                <button id="smt" onclick="Validate()">SUBMIT</button>
                <button id="cl" onclick="clear()">CLEAR</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../public/js/signupscript.js">
    </script>
</body>
</html>