body{
    background:url("https://images.unsplash.com/photo-1559999831-7deaf136d4a9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8bWluaW1hbCUyMDRrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center fixed;
    /* background: linear-gradient(to bottom right, #d4d4d4 0%, #cb2525 100%); */
    background-size:cover;
    position: relative;
}

.con1{
    position: relative;
    top:50%;
    transform: translate(0,50%);
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to bottom right,rgba(211, 193, 193,0.3),rgba(211, 193, 193, 0.3));
    border-radius: 10px;
    display: flex;
}

.con2{
    background: linear-gradient(to bottom right,rgba(211, 193, 193,0.3),rgba(211, 193, 193, 0.3));
    margin-left: 2px;
    border-radius: 10px;
    height:300px;
}

.con3{
    margin-right: 2px;
    border-radius: 10px;
    height:300px;
}

img{
    border-radius: 10px;
}
label{
    font-weight: 400;
    color:rgb(255, 255, 255);
}

.link{
    color:rgb(159, 240, 226);
    text-decoration: none;
    font-weight: bold;
}

/* placeholdercolor */
Code:
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.form-control:-moz-placeholder {
  color: ;
}
.form-control::-moz-placeholder {
  color: #ffffff;
}
.form-control::placeholder {
  color: #ffffff;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}

#Email,#Password{
    background-color: transparent;
}

/*input tag glow*/
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    
  }
   
  input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(238, 81, 81);
  }
  input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(238, 81, 81);
  }