body{
    background:url("../images/pexels-travis-blessing-1363876.jpg") no-repeat center center fixed;
    /* background: linear-gradient(to bottom right, #d4d4d4 0%, #cb2525 100%); */
    background-size:cover;
    display: grid;
    place-items:center;
}

.con1{
    position: relative;
    transform: translate(0,50%);
    width: 800px;
      margin-right: auto;
      margin-left: auto;
    background: linear-gradient(to bottom right,rgba(211, 193, 193,0.3),rgba(211, 193, 193, 0.3));
    border-radius: 10px;
    display: flex;
}

.con2{
    background: linear-gradient(to bottom right,rgba(211, 193, 193,0.3),rgba(211, 193, 193, 0.3));
    margin-left: 2px;
    border-radius: 10px;
    
   
}

.con3{
    margin-right: 2px;
    border-radius: 10px;
  height:300px;
}

img{
    border-radius: 10px;
}
label{
    font-weight: 400;
    color:rgb(255, 255, 255);
}
/*link*/
.link{
    color:rgb(159, 240, 226);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color:red;
}

/* placeholdercolor */
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.form-control:-moz-placeholder {
  color: ;
}
.form-control::-moz-placeholder {
  color: #ffffff;
}
.form-control::placeholder {
  color: #ffffff;
}
.form-control:-ms-input-placeholder {
  color: #ffffff;
}

#Email,#Password{
    background-color: transparent;
}

/*input tag glow*/
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    color: #ffffff;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(238, 81, 81);
    color: #ffffff;
  }
  input[type=password], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    color: #ffffff;
  }
   
  input[type=password]:focus, textarea:focus {
    box-shadow: 0 0 5px rgb(238, 81, 81);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgb(238, 81, 81);
    color: #ffffff;
  }

  /*email and pwd incorrect msg*/
  #emailHelp,#pwdHelp{
    color:rgb(238, 255, 0);
    font-weight:bold;
  }
  
