body{
    background:url("../images/linford-miles-9kplVM8KXJ8-unsplash.jpg") no-repeat center center fixed;
    /* background: linear-gradient(to bottom right, #d4d4d4 0%, #cb2525 100%); */
    width: 100%;
    height: 100%;
    background-size:cover;
    display: grid;
    place-items:center;
    resize: both;
    overflow: auto;
}

.main{
    display: flex;
    height:750px;   
    width: 800px;
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.308),rgba(255, 254, 254, 0.3));
}

.sub1{
    
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.308),rgba(255, 254, 254, 0.3));
}

.sub2{
    background: linear-gradient(to bottom right,rgba(255, 255, 255, 0.308),rgba(255, 254, 254, 0.3));
}
p{
    font-weight: bold;
    color: red;
}
.link{
    color:rgb(159, 240, 226);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color:red;
}